html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	overflow: hidden;
}

a {
	color: rgb(12, 113, 180);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div {
	margin: 0px auto;
	padding: 0px;
}

.footer {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}

.header {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5px;
}


/**
 * Style for SVG
 */
.canvas {
	/*border: 1px solid #444444;*/
	width: 100%;
	height: 100%;
	background: #eee;
}

.canvas > svg {
	margin: 0px;
	padding: 0px;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}
.canvas > svg.grabbed {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

svg circle,
svg line,
svg polygon {
	fill: none;
	stroke-width: 1px;
	stroke: black;
}

svg > .background {
	/*visibility: hidden;*/
	/*fill: ;*/
	opacity: 0.0;
}


.inversion.circle {
	stroke: rgb(117, 0, 0);
	stroke-dasharray: 2, 2;
	/*fill: rgba(255, 0, 0, 0.1);*/
}

.inversion.origin {
	stroke: rgb(117, 0, 0);
	fill: rgba(255, 0, 0, 0.2);
	cursor: move;
}


/* Circle */
circle.inverted.circle {
	stroke: rgba(0, 0, 0, 0.7);
}
circle.inverted.origin {
	/* Hide the origin of inverted circles */
	visibility: hidden;
}

circle.normal.circle {
	opacity: 0.3;
}
circle.normal.origin {
	visibility: hidden;
	stroke: rgba(0, 0, 0, 0.8);
	fill: rgba(0, 0, 255, 0.2);
	cursor: move;
}

/* Polygon */
polygon.normal {
	opacity: 0.3;
}

polygon.inverted {

}

/* Line */
line.normal {
	opacity: 0.3;
}

line.inverted {

}